In [1]:
import pandas as pd
import datasist as ds
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import precision_score
from sklearn.model_selection import cross_validate
from sklearn.decomposition import PCA
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier, XGBRFClassifier
import joblib
import warnings

warnings.filterwarnings("ignore")
sns.set_style("dark")

In [2]:
path = r"D:\Loan-Project"

In [3]:
data = pd.read_csv(f"{path}\data\part2.csv")
df = pd.DataFrame(data)
df.drop("Unnamed: 0", axis=1, inplace=True)
print(f"Data Shape is : {df.shape}")
df.head()

Data Shape is : (537, 12)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [4]:
ds.structdata.describe(df)

First five data points

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

Random five data points

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
488,Female,No,0,Graduate,No,2667,1625.0,84.0,360.0,NaN,Urban,1
148,Male,No,0,Graduate,No,2237,0.0,63.0,480.0,0.0,Semiurban,0
494,Male,Yes,0,Graduate,No,5923,2054.0,211.0,360.0,1.0,Rural,1
367,Male,Yes,0,Graduate,No,3246,1417.0,138.0,360.0,1.0,Semiurban,1
32,Male,No,0,Graduate,No,1800,1213.0,47.0,360.0,1.0,Urban,1

Last five data points

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
532,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,1
533,Male,Yes,1,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,1
534,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,1
535,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,1
536,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,0

Shape of  data set: (537, 12)


Size of  data set: 6444


Data Types
Note: All Non-numerical features are identified as objects in pandas

                  Data Type
Gender               object
Married              object
Dependents            int64
Education            object
Self_Employed        object
ApplicantIncome       int64
CoapplicantIncome   float64
LoanAmount          float64
Loan_Amount_Term    float64
Credit_History      float64
Property_Area        object
Loan_Status           int64

Numerical Features in Data set
['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Loan_Status']


Categorical Features in Data set

['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area']

Statistical Description of Columns

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
count,537.000000,537.000000,537.000000,518.000000,525.000000,496.000000,537.000000
mean,0.588454,5253.312849,1290.413259,141.337838,342.285714,0.844758,0.692737
std,0.760558,5472.742076,1469.744408,77.656137,65.624091,0.362501,0.461789
min,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000,0.000000
25%,0.000000,2889.000000,0.000000,100.000000,360.000000,1.000000,0.000000
50%,0.000000,3833.000000,1030.000000,125.500000,360.000000,1.000000,1.000000
75%,1.000000,5815.000000,2168.000000,163.500000,360.000000,1.000000,1.000000
max,2.000000,81000.000000,5701.000000,650.000000,480.000000,1.000000,1.000000

Description of Categorical Features

              count unique        top freq
Gender          537      2       Male  437
Married         537      2        Yes  349
Education       537      2   Graduate  415
Self_Employed   537      2         No  464
Property_Area   537      3  Semiurban  204

Unique class Count of Categorical features

Missing Values in Data

             features  missing_counts  missing_percent
0              Gender               0              0.0
1             Married               0              0.0
2          Dependents               0              0.0
3           Education               0              0.0
4       Self_Employed               0              0.0
5     ApplicantIncome               0              0.0
6   CoapplicantIncome               0              0.0
7          LoanAmount              19              3.5
8    Loan_Amount_Term              12              2.2
9      Credit_History              41              7.6
10      Property_Area               0              0.0
11        Loan_Status               0              0.0

In [5]:
df["Dependents"] = df["Dependents"].astype("object")
df["Dependents"]

0      0
1      1
2      0
3      0
4      0
      ..
532    0
533    1
534    1
535    2
536    0
Name: Dependents, Length: 537, dtype: object

### Fill Messing Value by KnnImputer
    - using Pipeline

In [6]:
ds.structdata.display_missing(df)

             features  missing_counts  missing_percent
0              Gender               0              0.0
1             Married               0              0.0
2          Dependents               0              0.0
3           Education               0              0.0
4       Self_Employed               0              0.0
5     ApplicantIncome               0              0.0
6   CoapplicantIncome               0              0.0
7          LoanAmount              19              3.5
8    Loan_Amount_Term              12              2.2
9      Credit_History              41              7.6
10      Property_Area               0              0.0
11        Loan_Status               0              0.0

In [7]:
df.isna().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           19
Loan_Amount_Term     12
Credit_History       41
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
cats = df.select_dtypes("object").columns
miss_col = ["LoanAmount", "Loan_Amount_Term", "Credit_History"]

col_trans = ColumnTransformer(

    transformers=[
        ("one", OneHotEncoder(sparse=False , drop="first"), cats),
        ("imputer", KNNImputer(n_neighbors=7), miss_col)
    ], remainder="passthrough"
)

### Use Precision metrics
     - becouse We use precision when we want the prediction of 1 to be as correct as possible 
                 and we use recall when we want our model to spot as many real 1 as possible. 
                 
      - Choosing the correct metric for our model can actually increase its predictive power 
                  and give us a great competitive advantage.

In [9]:
models = {
    "logisr": LogisticRegression(), 
    "knnclass": KNeighborsClassifier(), 
    "dectree": DecisionTreeClassifier(), 
    "svc": SVC(),
    "rfc": RandomForestClassifier(), 
    "xgbc": XGBClassifier(), 
    "xgbrfc": XGBRFClassifier()
}

In [10]:
pipeline = Pipeline(
    
    steps=[
        ("incoder", col_trans), 
        ("scaler", StandardScaler()), 
        ("pca", PCA(0.95)),
        ("dt", models["logisr"])
    ]

)

In [11]:
X = df.drop("Loan_Status" , axis = 1 )
y = df["Loan_Status"]

In [12]:
score = cross_validate(pipeline , X , y , cv = 5 , scoring="accuracy" , return_train_score=True)

In [13]:
score["train_score"].mean()

0.8068043584322654

In [14]:
score["test_score"].mean()

0.8082727587400484

In [15]:
model = models["logisr"]

In [16]:
pipeline = Pipeline(
    
    steps=[
        ("incoder", col_trans), 
        ("scaler", StandardScaler())
    ]

)


for key, value in models.items():
    
    a = tuple([key, value])
    pipeline.steps.append(a)
    score = cross_validate(pipeline , X , y , cv = 5 , scoring="precision" , return_train_score=True)
    pipeline.steps.pop()
    
    print("-" * 100, "\n")
    print(key)
    print("Train_accuracy" , score["train_score"].mean() )
    print("Test_accuracy" , score["test_score"].mean())

    print("-" * 100, "\n")

----------------------------------------------------------------------------------------------------

logisr
Train_accuracy 0.7971951661048632
Test_accuracy 0.8015196361309398
----------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------

knnclass
Train_accuracy 0.8107289896315486
Test_accuracy 0.7764021850727081
----------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------

dectree
Train_accuracy 1.0
Test_accuracy 0.8082117442022907
----------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------

svc
Train_accuracy 0.8127721512706456
Test_accuracy 0.7931467431777028
----------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------

rfc
Train_accuracy 1.0
Test_accuracy 0.8039716450409979
----------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------

xgbc
Train_accuracy 1.0
Test_accuracy 0.808130692662656
----------------------------------------------------------------------------------------------------

----------------------------------------------------------------------------------------------------

xgbrfc
Train_accuracy 0.8254339912899848
Test_accuracy 0.7996947496947497
----------------------------------------------------------------------------------------------------

### hyperparameter tuning for xgbc, rfc, dectree and logisr algorithms

In [17]:
pipeline = Pipeline(
    
    steps=[
        ("incoder", col_trans), 
        ("scaler", StandardScaler()),
        ("Model", model)
    ]

)

In [18]:
def fit_model(model, params):
    
    pipeline.steps[-1] = tuple(["Model", model])
    
    rs = GridSearchCV(estimator=pipeline, param_grid=params, cv=10, 
                              scoring='precision', n_jobs=-1, verbose=3, return_train_score=True)
    
    rs.fit(X, y)
    
    
    return rs

In [19]:
logisr_params = [
    {'Model__penalty': ['l1', 'l2', 'elasticnet'], 'Model__C': [1, 10, 100, 1000]}
]

logisr_rs = fit_model(models["logisr"], logisr_params)
logisr_rs.best_score_

Fitting 10 folds for each of 12 candidates, totalling 120 fits

0.7989629123461115

In [20]:
rfc_params = [
    {'Model__criterion': ['gini', 'entropy'], 'Model__max_depth': range(1, 40), 'Model__n_estimators': range(100, 201, 20)}
]

rfc_rs = fit_model(models["rfc"], rfc_params)
rfc_rs.best_score_

Fitting 10 folds for each of 468 candidates, totalling 4680 fits

0.8084438424627125

In [21]:
dectree_params = [
    {'Model__criterion': ['gini', 'entropy'], 'Model__max_depth': range(1, 100)}
]

dectree_rs = fit_model(models["dectree"], dectree_params)
dectree_rs.best_score_

Fitting 10 folds for each of 198 candidates, totalling 1980 fits

0.8289728206631579

In [22]:
knnclass_params = [
    {'Model__n_neighbors': range(5, 200, 2)}
]

knnclass_rs = fit_model(models["knnclass"], knnclass_params)
knnclass_rs.best_score_

Fitting 10 folds for each of 98 candidates, totalling 980 fits

0.7819318638813799

In [23]:
xgbc_params = [
    {'Model__criterion': ['gini', 'entropy'], 'Model__max_depth': range(1, 20), 'Model__n_estimators': range(100, 501, 50)}
]

xgbc_rs = fit_model(models["xgbc"], xgbc_params)
xgbc_rs.best_score_

Fitting 10 folds for each of 342 candidates, totalling 3420 fits
[16:13:50] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-07593ffd91cd9da33-1\xgboost\xgboost-ci-windows\src\learner.cc:767:
Parameters: { "criterion" } are not used.

0.8121653915279838

In [24]:
svc_params = [
    {'Model__C': [1, 10, 100, 1000], 'Model__kernel': ['rbf'], 'Model__gamma': [0.001, 0.01, 0.1, 1.0, 10.0, 100.0]},
    {'Model__C': [1, 10, 100, 1000], 'Model__kernel': ['poly'], 'Model__degree': range(2, 20)},
    {'Model__C': [1, 10, 100, 1000], 'Model__kernel': ['sigmoid']}
]

svc_rs = fit_model(models["svc"], svc_params)
svc_rs.best_score_

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

0.8029928227169314

### Save Files

In [25]:
model = dectree_rs.best_estimator_
model

Pipeline(steps=[('incoder',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('one',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area'],
      dtype='object')),
                                                 ('imputer',
                                                  KNNImputer(n_neighbors=7),
                                                  ['LoanAmount',
                                                   'Loan_Amount_Term',
                                                   'Credit_History'])])),
                ('scaler', StandardScaler()),
                ('Model', DecisionTreeClassifier(max_depth=93))])

In [26]:
score = cross_validate(dectree_rs.best_estimator_ , X , y , cv = 5 , scoring="precision" , return_train_score=True)

In [27]:
print(f"Train of precision Score is : {score['train_score'].mean()}\n test : {score['test_score'].mean()}")

Train of precision Score is : 1.0
 test : 0.8101270727038024

### Try to Reduce Outliers

In [28]:
dectree_rs.best_estimator_.steps[-1] = ('Model', DecisionTreeClassifier(max_depth=48))

In [29]:
for i in range(1, 62):
    dectree_rs.best_estimator_.steps[-1] = ('Model', DecisionTreeClassifier(max_depth=i))
    score = cross_validate(dectree_rs.best_estimator_ , X , y , cv = 5 , scoring="precision" , return_train_score=True)
    print(f"max_depth = {i}")
    print(f"Train of precision Score is : {score['train_score'].mean()}\n test : {score['test_score'].mean()}")
    print("\n", "-"*100, "\n")

max_depth = 1
Train of precision Score is : 0.7957262868647141
 test : 0.7968607458901928

 ----------------------------------------------------------------------------------------------------

max_depth = 2
Train of precision Score is : 0.7961737699953355
 test : 0.7968607458901928

 ----------------------------------------------------------------------------------------------------

max_depth = 3
Train of precision Score is : 0.8038475430302284
 test : 0.7964688545475811

 ----------------------------------------------------------------------------------------------------

max_depth = 4
Train of precision Score is : 0.8084015409991906
 test : 0.7948583074905903

 ----------------------------------------------------------------------------------------------------

max_depth = 5
Train of precision Score is : 0.8397759469903393
 test : 0.7935765599184861

 ----------------------------------------------------------------------------------------------------

max_depth = 6
Train of precision Score is : 0.854414485518339
 test : 0.8015878141015828

 ----------------------------------------------------------------------------------------------------

max_depth = 7
Train of precision Score is : 0.8790546687670954
 test : 0.8005397648946037

 ----------------------------------------------------------------------------------------------------

max_depth = 8
Train of precision Score is : 0.8958577063807397
 test : 0.8117253949146225

 ----------------------------------------------------------------------------------------------------

max_depth = 9
Train of precision Score is : 0.9246404429290234
 test : 0.8023737008420554

 ----------------------------------------------------------------------------------------------------

max_depth = 10
Train of precision Score is : 0.9368750064362205
 test : 0.8065305068691796

 ----------------------------------------------------------------------------------------------------

max_depth = 11
Train of precision Score is : 0.9523445568590063
 test : 0.8102951496388029

 ----------------------------------------------------------------------------------------------------

max_depth = 12
Train of precision Score is : 0.9651357317034129
 test : 0.8182558090088996

 ----------------------------------------------------------------------------------------------------

max_depth = 13
Train of precision Score is : 0.9812467923668613
 test : 0.814714195536331

 ----------------------------------------------------------------------------------------------------

max_depth = 14
Train of precision Score is : 0.9876187710930786
 test : 0.8199071382644586

 ----------------------------------------------------------------------------------------------------

max_depth = 15
Train of precision Score is : 0.9940066000733342
 test : 0.8145721827254686

 ----------------------------------------------------------------------------------------------------

max_depth = 16
Train of precision Score is : 0.9966887417218544
 test : 0.8165068652515071

 ----------------------------------------------------------------------------------------------------

max_depth = 17
Train of precision Score is : 0.9986531986531986
 test : 0.814436311769645

 ----------------------------------------------------------------------------------------------------

max_depth = 18
Train of precision Score is : 0.9986622073578595
 test : 0.8112971358847434

 ----------------------------------------------------------------------------------------------------

max_depth = 19
Train of precision Score is : 0.9993288590604028
 test : 0.8086325289879884

 ----------------------------------------------------------------------------------------------------

max_depth = 20
Train of precision Score is : 0.9993288590604028
 test : 0.8140302347819255

 ----------------------------------------------------------------------------------------------------

max_depth = 21
Train of precision Score is : 1.0
 test : 0.8172468095070835

 ----------------------------------------------------------------------------------------------------

max_depth = 22
Train of precision Score is : 1.0
 test : 0.8056379176379176

 ----------------------------------------------------------------------------------------------------

max_depth = 23
Train of precision Score is : 1.0
 test : 0.8133462776344154

 ----------------------------------------------------------------------------------------------------

max_depth = 24
Train of precision Score is : 1.0
 test : 0.8163842832119232

 ----------------------------------------------------------------------------------------------------

max_depth = 25
Train of precision Score is : 1.0
 test : 0.8245879260036488

 ----------------------------------------------------------------------------------------------------

max_depth = 26
Train of precision Score is : 1.0
 test : 0.8086309257880367

 ----------------------------------------------------------------------------------------------------

max_depth = 27
Train of precision Score is : 1.0
 test : 0.8178362107376191

 ----------------------------------------------------------------------------------------------------

max_depth = 28
Train of precision Score is : 1.0
 test : 0.81059559154296

 ----------------------------------------------------------------------------------------------------

max_depth = 29
Train of precision Score is : 1.0
 test : 0.8130801114794659

 ----------------------------------------------------------------------------------------------------

max_depth = 30
Train of precision Score is : 1.0
 test : 0.8045304112131404

 ----------------------------------------------------------------------------------------------------

max_depth = 31
Train of precision Score is : 1.0
 test : 0.8154245724459213

 ----------------------------------------------------------------------------------------------------

max_depth = 32
Train of precision Score is : 1.0
 test : 0.8097665207421304

 ----------------------------------------------------------------------------------------------------

max_depth = 33
Train of precision Score is : 1.0
 test : 0.8172146995245587

 ----------------------------------------------------------------------------------------------------

max_depth = 34
Train of precision Score is : 1.0
 test : 0.8229229752327578

 ----------------------------------------------------------------------------------------------------

max_depth = 35
Train of precision Score is : 1.0
 test : 0.8066857164015652

 ----------------------------------------------------------------------------------------------------

max_depth = 36
Train of precision Score is : 1.0
 test : 0.8165774225774225

 ----------------------------------------------------------------------------------------------------

max_depth = 37
Train of precision Score is : 1.0
 test : 0.8133008988460926

 ----------------------------------------------------------------------------------------------------

max_depth = 38
Train of precision Score is : 1.0
 test : 0.8112722372478469

 ----------------------------------------------------------------------------------------------------

max_depth = 39
Train of precision Score is : 1.0
 test : 0.8133816826003539

 ----------------------------------------------------------------------------------------------------

max_depth = 40
Train of precision Score is : 1.0
 test : 0.8088535788174342

 ----------------------------------------------------------------------------------------------------

max_depth = 41
Train of precision Score is : 1.0
 test : 0.80928008638852

 ----------------------------------------------------------------------------------------------------

max_depth = 42
Train of precision Score is : 1.0
 test : 0.8131027767779161

 ----------------------------------------------------------------------------------------------------

max_depth = 43
Train of precision Score is : 1.0
 test : 0.8100046552789337

 ----------------------------------------------------------------------------------------------------

max_depth = 44
Train of precision Score is : 1.0
 test : 0.8164649796706875

 ----------------------------------------------------------------------------------------------------

max_depth = 45
Train of precision Score is : 1.0
 test : 0.8124125117852588

 ----------------------------------------------------------------------------------------------------

max_depth = 46
Train of precision Score is : 1.0
 test : 0.8075243794975802

 ----------------------------------------------------------------------------------------------------

max_depth = 47
Train of precision Score is : 1.0
 test : 0.8039384262883151

 ----------------------------------------------------------------------------------------------------

max_depth = 48
Train of precision Score is : 1.0
 test : 0.8063723797992907

 ----------------------------------------------------------------------------------------------------

max_depth = 49
Train of precision Score is : 1.0
 test : 0.8118629993507588

 ----------------------------------------------------------------------------------------------------

max_depth = 50
Train of precision Score is : 1.0
 test : 0.8063443826290468

 ----------------------------------------------------------------------------------------------------

max_depth = 51
Train of precision Score is : 1.0
 test : 0.8066937390486139

 ----------------------------------------------------------------------------------------------------

max_depth = 52
Train of precision Score is : 1.0
 test : 0.8165408760248646

 ----------------------------------------------------------------------------------------------------

max_depth = 53
Train of precision Score is : 1.0
 test : 0.8144698544698545

 ----------------------------------------------------------------------------------------------------

max_depth = 54
Train of precision Score is : 1.0
 test : 0.8035026992324548

 ----------------------------------------------------------------------------------------------------

max_depth = 55
Train of precision Score is : 1.0
 test : 0.8109246272491715

 ----------------------------------------------------------------------------------------------------

max_depth = 56
Train of precision Score is : 1.0
 test : 0.807545587660899

 ----------------------------------------------------------------------------------------------------

max_depth = 57
Train of precision Score is : 1.0
 test : 0.8088545949779616

 ----------------------------------------------------------------------------------------------------

max_depth = 58
Train of precision Score is : 1.0
 test : 0.8206785399855416

 ----------------------------------------------------------------------------------------------------

max_depth = 59
Train of precision Score is : 1.0
 test : 0.8057483196609855

 ----------------------------------------------------------------------------------------------------

max_depth = 60
Train of precision Score is : 1.0
 test : 0.8179509553931459

 ----------------------------------------------------------------------------------------------------

max_depth = 61
Train of precision Score is : 1.0
 test : 0.8079386862485455

 ----------------------------------------------------------------------------------------------------

### Reduce max_depth from 48 to 10 to Reduce overfitting

### max_depth = 10
    - Train of precision Score is : 0.9376853652480038
    - test : 0.8112562789915158

In [30]:
dectree_rs.best_estimator_.steps[-1] = ('Model', DecisionTreeClassifier(max_depth=10))

model = dectree_rs.best_estimator_
model.fit(X, y)

Pipeline(steps=[('incoder',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('one',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area'],
      dtype='object')),
                                                 ('imputer',
                                                  KNNImputer(n_neighbors=7),
                                                  ['LoanAmount',
                                                   'Loan_Amount_Term',
                                                   'Credit_History'])])),
                ('scaler', StandardScaler()),
                ('Model', DecisionTreeClassifier(max_depth=10))])

In [31]:
Loan_Amount_Term_unique = df["Loan_Amount_Term"].dropna(axis=0).unique()
Loan_Amount_Term_unique

array([360., 120., 240., 180.,  60., 300., 480.,  36.,  84.,  12.])

In [32]:
joblib.dump(model, f"{path}\save files\model.h5")
joblib.dump(X.columns, f"{path}\save files\input.h5")
joblib.dump(Loan_Amount_Term_unique, f"{path}\save files\Loan_Amount_Term.h5")

['D:\\Loan-Project\\save files\\Loan_Amount_Term.h5']